@model web.Models.CategoryViewModel
<div>
    <div class="main-feature">
        <h2>@Model.FeaturedItem.Name</h2>
        <img src="@Model.FeaturedItem.ImageUrl" alt="@Model.FeaturedItem.Name" />
        <div>@Html.Raw(Model.FeaturedItem.DescriptionHtml)</div>
        <a class="download" href="@Model.FeaturedItem.DetailedUrl">Download</a>
    </div>
    <div class="category-list">
        <h2>Categories</h2>
        <ul>
            <li><a href="#">Cool Builds</a></li>
            <li><a href="#">Challenge Maps</a></li>
            <li><a href="#">Redstone</a></li>
            <li><a href="#">Multiplayer</a></li>
        </ul>
    </div>
</div>