@model web.Models.ItemDetailsViewModel
@{
    ViewBag.Title = "Index";
}
<div>
    <div class="main-feature">
        <h2>@Model.ItemName</h2>
        <img src="@Model.Image" alt="@Model.ItemName" />
        <div>@Html.Raw(Model.Description)</div>
        <a class="download" href="install://@Model.Id.ToString()">Install</a>
    </div>
    <div class="category-list">
        <h2>Dependencies</h2>
        @if (!Model.Dependencies.Any())
        {
            <p>@Model.ItemName works with Vanilla Minecraft!</p>
        }
    </div>
</div>