@model web.Models.ItemViewModel
<div>
    <div class="main-feature">
        <h2>@Model.Name</h2>
        <img src="@Model.ImageUrl" alt="@Model.Name" />
        <div>@Html.Raw(Model.DescriptionHtml)</div>
        <p>Version @Model.FriendlyVersion by <a href="/user/@Model.Creator">@Model.Creator</a></p>
        <a class="download" href="install://@Model.Id.ToString()">Install</a>
    </div>
    <div class="category-list">
        <h2>Dependencies</h2>
        @if (!Model.Item.Dependencies.Any())
        {
            <p>@Model.Name has no dependencies!</p>
        }
        else
        {
            @*TODO*@
        }
    </div>
</div>