@model web.Models.ItemViewModel
@using web.Shared
@{
    ViewBag.Title = Model.Name;
}
@if (Model.User == Membership.GetUser().UserName || Membership.GetUser().IsAdministrator())
{
    <div class="btn-group pull-right" style="margin-top: 20px;">
        @if (Membership.GetUser().IsAdministrator())
        {
            if (!Model.Approved)
            {
                @Html.ActionLink("Approve", "Approve", new {Model.Id}, new {@class = "btn"})
            }
            else
            {
                @Html.ActionLink("Unapprove", "Unapprove", new { Model.Id }, new { @class = "btn" })
            }
        }
        @Html.ActionLink("Edit", "Edit", new { Model.Id }, new { @class = "btn" })
        @Html.ActionLink("Delete", "Delete", new { Model.Id }, new { @class = "btn" })
    </div>
}
<h2>@Model.Name</h2>
<p>Version @Model.FriendlyVersion</p>
<blockquote>
    @Html.Raw(Model.DescriptionHtml)
</blockquote>
<img src="@Model.ImageUrl" alt="@Model.Name" />
<h3>Files</h3>
<table class="table">
    @foreach (var blob in Model.Blobs)
    {
        <tr>
            <td><a href="@blob.DownloadUrl">@blob.Name</a></td>            
        </tr>
    }
</table>