@model web.Models.CreateAccountViewModel
@using web.Shared
@{
    ViewBag.Title = "Create Account";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/MvcFoolproofJQueryValidation.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/mvcfoolproof.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Create Account</legend>
        <p>Creating an account allows you to contribute your own content to the SuperLauncher repository.</p>
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div>
            @Html.LabelFor(m => m.Username)
            @Html.ValidationMessageFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
        </div>
        <div>
            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
        <div>
            @Html.ValidationMessageFor(m => m.RememberMe)
            @Html.BootstrapCheckBoxFor(m => m.RememberMe)
        </div>
        @{Html.RenderPartial("Recapcha", Model.CapchaError);}
        <input type="submit" class="btn btn-primary" value="Create Account" />
    </fieldset>
}